body {
    font-size: calc(1em + .3vw);
    /* background-image: url("images/redbluelava.jpg");
    background-position: left;
    background-repeat: no-repeat; */
    font-family: 'Open Sans', sans-serif;
    display: flex;
    height: 100vh;
}

#molten-logo {
    max-width: 100%; 
    margin: 160px auto 0 auto;
    display: block;
    padding: 2px;
    opacity: 100%;
    background-color:rgba(211, 211, 211, .8);
    border-radius: 50%;
}

#side-bg-image {
    background-image: url("/images/redbluelava.jpg");
    background-repeat:no-repeat;
    width: 100%;
    max-width: 50vw;
    max-height: 100vh;
}

.column{
    display: flex;
    /* height: 100vh; */
    flex-direction: column;
    align-items: center;
}

#intro-statement {
    background-color:rgba(211, 211, 211, .8);
    margin: 30px auto;
    max-width: 60%;
    padding: 10px 10vw;
    display: block;
    text-align: center;
}

#intro-statement p {
    width: 100%;
}

#signup-form {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    border: 4px outset darkgray;
    border-radius: 10px;
    margin: 150px 20px 0 20px;
    padding: 20px;
}

#signup-form div {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
}

#signup-form div input {
    border-radius: 4px;
    padding: 4px;
}

#signup-form div input :current {
    border-radius: 4px;
    padding: 4px;
    border-color: blue;
}

#signup-form div input:hover {
    box-shadow: 0 5px 15px;
}

button[type="submit"] {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #c65603;
    border: 3px outset black;
    border-radius: 10px;
    font-weight: bold;
    opacity: .8;
}

button[type="submit"]:focus {
    background-color: #c81807;
}

button[type="submit"]:hover {
    opacity: 1;
    box-shadow: 0 5px 15px;
}

#trouble-link {
    color: white;
    position: fixed;
    bottom: 0;
    left: 10;
}
